body{
    background: #264075;
    height:100%
}


#entete {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px;
    font-family: 'Outfit';
    color: rgb(235, 235, 235);
    background: rgba(38, 44, 60, 0.758);
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#Options_Global {
    position: absolute;
    top: 200px; 
    left: 20%;
    right: 20%;
    height: 100px;
    padding: 20px;
    background: #1f3047;
    border-radius: 20px;
    color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit';
    color: rgb(235, 235, 235);

}


#map {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    height: 600px;
    background: #1f3047;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
}

#map_photo {
    position: absolute;
    top: 1100px; 
    right: 6%;
    height: 400px;
    width: 40%;
    padding: 20px;
    background: #1f3047;
    border-radius: 20px;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
}

#consigne{
    position: absolute;
    top: 1100px; 
    left: 14%;
    height: 2px;
    width: 40%;
    color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-family:'Outfit';
    color: white;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.5;

}


#map_photo_text {
    position: absolute;
    top: 1370px; 
    left: 11%;
    height: 2px;
    width: 40%;
    color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-family:'Outfit';
    color: white;
    font-weight: italic;
    font-size: 25px;
    line-height: 2;
}

#map_photo_form {
    position: absolute;
    top: 1100px; 
    left: 6%;
    height: 400px;
    width: 50%;
    padding: 20px;
    background: #1f3047;
    border-radius: 20px;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;

}





#text{
    color: #fff; 
    font-family: 'Outfit'; 

}

#footer {
    position: absolute;
    top: 1600px;
    bottom: 0;
    height: 80px;
    left: 0;
    padding: 0;
    background: rgba(38, 44, 60, 0.758);
    width: 500px;
    border-top-right-radius: 20px;
    color: #fff; 
    font-family: 'Outfit'; 
    font-weight: 500; 
    font-size: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#another_footer {
    position: absolute;
    top: 1600px;
    bottom: 0;
    height: 80px;
    right: 0; 
    padding: 0 20px; 
    background: rgba(38, 44, 60, 0.758);
    width: 40%;
    border-top-left-radius: 20px;
    color: #fff; 
    font-family: 'Outfit'; 
    font-weight: 500; 
    font-size: 14px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#checkbox{
    display: flex;
    align-items: center;
    }

#check{
    margin-right: 20px;
}


.icone_nav{
    border-radius: 10px;
    padding: 10px;
    width: 200px; 
    height: 70px;
    margin: 50px;
    background-color: rgba(82, 118, 216, 0.34);
    color: #fff; 
    font-family: 'Outfit'; 

}


.icone_nav:hover {
    background-color: #9998a8b3;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.icone_tweet{
    margin-right: 50px;
    width: 80px;
}

.icone{
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 118, 216, 0.34);
    border-radius: 10px;
    padding: 10px;
    width: 70px; 
    height: 70px;
    margin-right: 50px;
}

.icone:hover {
    background-color: #9998a8b3;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


